<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.05" package="com.hyprsoft.Auth.Passwordless.Prototype" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="Pwdless Auth Prototype" android:allowBackup="false"></application>
</manifest>