
<h3>Well Hello!</h3>
<p>Thanks for your interest in our password-less authentication app.  It looks like you've arrived at the page from opening a link in our email invitation to use our app.  This page is popping up becuase you haven't installed our app <b>before</b> clicking the link in the invitation.</p>
<p><b>No problem</b>, just download the '@SharedSettings.AppName' app from the appropraite store using a link below and then open the link in the invitation again on your device.</p>
<p><a href="@SharedSettings.AppStoreGoogleUri">Google Play Store</a> | <a href="@SharedSettings.AppStoreAppleUri">Apple App Store</a></p>
<p>If you're still having problems please contact our <a href="mailto:support@hyprsoft.com?subject=@SharedSettings.AppName Support Request">support staff</a>.</p>
